<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
<label for="name">name</label>
<input type="text" name="name"><br>
<label for="email">email</label>
<input type="text" name="email">
<label for="password">password</label>
<input type="password" name="password">
<input type="submit" name="submit" value="Sign Up">
</form>
